:root {
    --violeta: #222d5b;
  }
  .img-fondo-completa {
    position: absolute;
    transform: rotate(-30deg);
    z-index: -2;
    top: 180px;
    left: 250px;
    width: 300px;
    height: 400px;
  }
  .img-fondo-cuarto {
    position: absolute;
    transform: rotate(270deg);
    z-index: -1;
    top: 100vh;
    left: 0px;
    width: 300px;
    height: 400px;
  }
.subtitulo-img {
    color: var(--violeta);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: -5px;
  }
  .img-tesoreria {
    object-fit: cover;
  }
  
  .item-texto {
    display: inline;
    font-size: 17.3px;
    color: var(--violeta);
    line-height: 30px;
  }

  .nombre-tesoreria {
    display: inline;
    color: var(--violeta);
    font-weight: lighter;
    font-size: 12px;
  }

  .posicion-texto {
    position: relative;
    left:20px;
  }
  
  .img-Ministro:hover {
    -webkit-transform: scale(1.15);
	  transform: scale(1.15);
    transition: 1s;
    
  }

  .circle {
    border-color: #fff;
    border-image: none;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 1px;
    height: 170px;
    width: 170px;
    overflow: hidden;
  }