:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
}
body {
  overflow-x: hidden;
}
.autoridades {
  margin-top: 67px;
}
.item-texto {
  font-family: 'HelveticaNeue', sans-serif;
  display: inline;
  font-size: 17.3px;
  color: var(--violeta);
  line-height: 47px;
}
.columna-autoridades {
  transform: rotate(270deg);
}
.texto-autoridades {
  display: flex;
  justify-content: end;
  position: relative;
  left: -145%;
  width: 200%;
  top: 10%;
  color: var(--celeste2);
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}

@media screen and (max-width: 700px) {
  .autoridades {
    margin-top: 10px;
  }
  .columna-autoridades {
    transform: rotate(0deg);
    margin: 20px;
  }
  .texto-autoridades {
    display: flex;
    justify-content: end;
    position: relative;
    width: 90%;
    top: 0;
    position: static;
    color: var(--celeste2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  .linea-autoridades-mobile{
    position: relative;
    top: 19px;
    width: 60%;
    height: 13px;
    background-color: var(--celeste2);
  }
  .cuerpo-autoridades{
    margin: 0px 40px;
  }
  .item-texto{
    margin-top: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
}
