:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
}
.seccion-general {
  margin-top: 67px;
  padding: 10px;
}
.columna-izquierda {
  transform: rotate(270deg);
}
.texto-izquierda {
  width: 91%;
  text-align: right;
  color: var(--celeste2);
}
.row {
  width: 100%;
}
.subrayado {
  display: flex;
  justify-content: end;
  position: relative;
  left: -70%;
  width: 150%;
  top: 30%;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
.subtitulo {
  font-family: 'Montserrat', sans-serif;
  color: var(--violeta);
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  margin-top: 10px;
}
.boton {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 11.9px;
  width: 214.2px;
  height: 36px;
  border: none;
  border-radius: 8px;
  background-color: #006097;
  color: var(--blanco);
  margin-top: 20px;
}
.columna-derecha {
  padding-right: 0px;
}
@media screen and (max-width: 700px) {
  .seccion-general {
    margin: 10px;
  }
  .columna-izquierda {
    transform: rotate(0deg);
  }
  .subrayado {
    font-family: 'Montserrat', sans-serif;
    color: var(--celeste);
    font-weight: bolder;
    font-size: 17px;
    position: static;
    width: 100%;
    top: 10%;
    border-bottom: none;
  }
  .linea-izquierda-mobile {
    position: relative;
    top: 18px;
    width: 8%;
    height: 13px;
    background-color: var(--celeste2);
  }
  .texto-seccion {
    font-family: 'Montserrat', sans-serif;
    color: var(--violeta);
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .boton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--blanco);
    font-size: 14px;
    width: 102%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: var(--celeste2);
  }
}
