:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
.select-asunto{
  position: relative;
  left: 12px;
}
select:focus{
  background-color: var(--amarillo);
}
.asunto-field {
  color: #5e5e5eef;
  border: none;
  background-color: #ededec;
  display: block;
  margin-bottom: 18px;
  outline: none;
  padding: 5px 0px 5px 20px;
}
.contacto {
  margin-top: 44px;
}
.columna-contacto {
  transform: rotate(270deg);
}
.texto-contacto {
  display: flex;
  justify-content: end;
  position: relative;
  left: -250px; /* aca es el top del logo */
  width: 200%;
  top: 50%;
  color: #212d5b;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid #212d5b;
}
.input-form {
  width: 100%;
  height: 31.1px;
  border: none;
  background-color: #ededec;
  display: block;
  margin-bottom: 18px;
  outline: none;
  padding: 15px 20px;
}
.textarea-form {
  width: 100%;
  height: 300px;
  border: none;
  background-color: #ededec;
  display: block;
  margin-bottom: 18px;
  outline: none;
  padding: 10px 20px;
}
.boton-form {
  border: none;
  background-color: var(--amarillo);
  color: var(--blanco);
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  padding: 0px 15px;
  position: relative;
  top: -60px;
  left: 20px;
}
.accordion-item {
  border: none;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18.6px;
  color: #212d5b;
  font-weight: bolder;
}
.accordion-button::after {
  background-image: url(../img/iconos/plus-lg.svg);
  margin-left: 10px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/iconos/dash-lg.svg);
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.linea-contacto {
  margin-top: 40px;
  width: 100%;
  height: 5px;
  background-color: #212d5b;
}
.contacto-direccion {
  font-family: 'HelveticaNeue', sans-serif;
  font-style: italic;
  color: #212d5b;
  font-size: 18.6px;
}
@media screen and (max-width: 700px) {
  .select-asunto {
    width: 95%;
    left: 23px;
  }
  .borde-izquierdo{
    border-top: 1px solid var(--celeste1);
    border-left: 1px solid var(--celeste1);
    border-bottom: 1px solid var(--celeste1);
    border-radius: 8px 0px 0px 8px;
  }
  .borde-derecho{
    border-top: 1px solid var(--celeste1);
    border-right: 1px solid var(--celeste1);
    border-bottom: 1px solid var(--celeste1);
    border-radius: 0px 8px 8px 0px;
  }
  .asunto-field{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--blanco);
    color: var(--celeste1);
  }
  .input-form {
    width: 95%;
    height: 36px;
    border: 1px solid var(--celeste1);
    border-radius: 8px;
    margin: 0px 10px 23px 10px;
    background-color: var(--blanco);
    display: block;
    outline: none;
    padding: 15px 20px;
  }
  .location-icon::before {
    content: url(../img/iconos/location-icon.svg);
    margin-right: 2px;
  }
  .tel-icon::before {
    content: url(../img/iconos/tel-icon.svg);
    margin-left: 20px;
    margin-right: 2px;
  }
  .input-form::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: var(--celeste1);
  }
  .mail::before {
    margin-right: 2px;
    content: url(../img/iconos/mail-icon.svg);
  }
  .mail {
    margin-left: 90px;
  }
  .select-form {
    color: var(--celeste1);
    width: 95%;
    border: 1px solid var(--celeste1);
    border-radius: 8px;
    margin: 0px 10px 23px 10px;
    background-color: var(--blanco);
    display: block;
    outline: none;
    padding: 8px 18px;
  }
  .textarea-form {
    width: 95%;
    height: 128px;
    border: 1px solid var(--celeste1);
    border-radius: 8px;
    background-color: var(--blanco);
    display: block;
    margin: 0px 10px 23px 10px;
    outline: none;
    padding: 10px 20px;
  }
  .boton-form {
    border-radius: 8px;
    background-color: var(--amarillo);
    color: var(--celeste1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: static;
    margin: 0px 10px 23px 10px;
    outline: none;
    padding: 10px 20px;
    width: 95%;
  }
  .textarea-form::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: var(--celeste1);
  }
  .columna-contacto {
    transform: rotate(0deg);
    margin: 20px;
  }
  .container-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .contenedor-ubicacion {
    display: flex;
    flex-direction: column-reverse;
  }
  .contacto-direccion {
    margin-inline: 60px;
    margin-bottom: 30px;
  }
  .contenedor-ubicacion div {
    color: var(--celeste1);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    display: inline;
  }

  .iframe {
    width: 95%;
    border: 1px solid var(--celeste1);
    border-radius: 8px;
    margin: 0px 10px 23px 10px;
  }
  .linea-contacto {
    display: none;
  }
  .linea-contacto-mobile {
    position: relative;
    top: 19px;
    left: -10px;
    width: 71%;
    height: 13px;
    background-color: var(--celeste2);
  }
  .texto-contacto {
    display: flex;
    justify-content: end;
    position: relative;
    width: 92%;
    position: static;
    color: var(--celeste2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  .accordion-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 18.6px;
    color: #212d5b;
    font-weight: bolder;
  }
  svg {
    /* change color of svg to yellow */
    fill: var(--amarillo);
  }
  .accordion {
    margin: 0px 10px 23px 10px;
    padding: 10px 20px;
    width: 95%;
  }
  .accordion-button::after {
    background-image: url(../img/iconos/plus-lg-yellow.svg);
    margin-left: auto;
    margin-right: 50px;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../img/iconos/dash-lg-yellow.svg);
    margin-left: auto;
    margin-right: 50px;
  }
  .accordion-item {
    border-bottom: 2px solid var(--amarillo);
  }
  .accordion-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding-bottom: 20px;
  }

  .accordion-button:not(.collapsed) {
    color: var(--violeta);
    background-color: var(--blanco);
    box-shadow: none;
    padding-bottom: 0px;
  }
  .accordion-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    line-height: 12.19px;
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .nombre {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    font-style: italic;
  }
}
