

/*-Globitos-*/
.box1 {
    border-radius: 20px;

    margin: 10px;
    border: 2px solid #2e96b2;
    padding: 2%;
    text-align: justify;
    word-wrap: hyphenate;
    line-height: 1;
    font-weight: 100;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.neg {
    font-weight: 300;
}

.conjunto-globos-1 {
    padding: 40px;
    font-weight: 100;
}

.conjunto-globos-1 .box1 {
    background-color: #fff;
    color: #2e96b2;
}

.conjunto-globos-1 .box1:nth-child(odd) {
    justify-self: start;
    margin-right: 30%;

    color: #2e96b2;
}
.conjunto-globos-1 .box1:nth-child(even) {
    justify-self: end;

    color: #00b2e3;
    margin-left: 30%;
    border: 2px solid #00b2e3;
}

.conjunto-globos-1 .box1:nth-child(even)::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00b2e3;
    border-top: 10px solid #00b2e3;
    border-bottom: 10px solid transparent;
    left: 90%;
    top: -21px;
    transform: rotatex(180deg);
}

.conjunto-globos-1 .box1:nth-child(even)::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: calc(90% - 2px);
    top: -16px;
    transform: rotatex(180deg);
}

.conjunto-globos-1 .box1:nth-child(odd)::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #2e96b2;
    border-top: 10px solid #2e96b2;
    border-bottom: 10px solid transparent;
    left: 3%;
    bottom: -22px;
    transform: rotatey(180deg);
}

.conjunto-globos-1 .box1:nth-child(odd)::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: calc(3% + 2px);
    bottom: -18px;
    transform: rotatey(180deg);
}

/*CONJUNTO 2*/

.conjunto-globos-2 {
    padding: 40px;
    font-weight: 100;
}

.conjunto-globos-2 .box1 {
    background-color: #fff;
    color: #2e96b2;
    margin-top: 30px;
    border-radius: 10px;
}

.conjunto-globos-2 .box1:nth-child(odd) {
    justify-self: start;

    color: #2e96b2;
}
.conjunto-globos-2 .box1:nth-child(even) {
    justify-self: end;

    color: #00b2e3;

    border: 2px solid #00b2e3;
}

.conjunto-globos-2 .box1:nth-child(even)::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00b2e3;
    border-top: 10px solid #00b2e3;
    border-bottom: 10px solid transparent;
    left: 2%;
    top: -21px;
    transform: rotate(180deg);
}

.conjunto-globos-2 .box1:nth-child(even)::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: calc(2% + 2px);
    top: -16px;
    transform: rotate(180deg);
}

.conjunto-globos-2 .box1:nth-child(odd)::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #2e96b2;
    border-top: 10px solid #2e96b2;
    border-bottom: 10px solid transparent;
    left: 2%;
    top: -22px;
    transform: rotate(180deg);
}

.conjunto-globos-2 .box1:nth-child(odd)::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: calc(2% + 2px);
    top: -18px;
    transform: rotate(180deg);
}

@media (max-width: 770px) {
    .conjunto-globos-2 .box1:nth-child(even)::before {
        left: 10%;
    }

    .conjunto-globos-2 .box1:nth-child(even)::after {
        left: calc(10% + 2px);
    }

    .conjunto-globos-2 .box1:nth-child(odd)::before {
        left: 10%;
    }

    .conjunto-globos-2 .box1:nth-child(odd)::after {
        left: calc(10% + 2px);
    }

    .conjunto-globos-1 .box1:nth-child(even)::before {
        left: 80%;
    }

    .conjunto-globos-1 .box1:nth-child(even)::after {
        left: calc(80% - 2px);
    }

    .conjunto-globos-1 .box1:nth-child(odd)::before {
        left: 10%;
    }

    .conjunto-globos-1 .box1:nth-child(odd)::after {
        left: calc(10% + 2px);
    }
}

