:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
}
body{
  font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.buscador-nav {
  position: relative;
  top: -8px;
  border-radius: 10px 0px 0px 10px;
  width: 239px;
  height: 27.5px;
  border-color: var(--gris1);
  color: var(--gris2);
  font-weight: lighter;
  font-size: 8.5px;
  margin-left: 30px;
}

.boton-lupa {
  position: relative;
  top: -8px;
  border-radius: 0px 10px 10px 0px;
  border: solid #ccc;
  border-width: 1px 1px 1px 0px;
  width: 35.4px;
  height: 27.5px;
}

.buscador-nav::placeholder {
  color: var(--gris2);
  font-weight: lighter;
  font-size: 8.5px;
}

.buscador-nav:focus + .boton-lupa {
  background-color: var(--celeste1);
  color: var(--blanco);
}

.buscador-nav:focus {
  background-color: var(--celeste1);
  color: var(--blanco);
}

.form-control:focus {
  box-shadow: none;
}

.buscador-nav:focus::placeholder {
  color: var(--blanco);
}
/* placeholder white*/

#lupa {
  position: relative;
  top: -7px;
}

.buscador {
  position: relative;
  top: 15px;
}

.logo-nav {
  width: 170px;
  height: 63px;
  content: url(../img/logochubut.png);
}

.barra-arriba {
  background-color: var(--celeste1);
  color: var(--blanco);
  height: 45px;
  font-weight: 500;
  font-size: 14px;
}
#barra-arriba-mobile{
  display: none;
}

/* inicio nav custom */
.btn-institucional {
  color: var(--violeta);
  font-size: 9.75px;
  border-bottom: 1.4px solid var(--violeta);
  width: 220px;
}


.btn-politica {
  color: var(--violeta);
  font-size: 9.75px;
  border-bottom: 1.4px solid var(--celeste1);
  width: 220px;
}

.btn-contacto {
  color: var(--violeta);
  font-size: 9.75px;
  border-bottom: 1.4px solid var(--celeste2);
  width: 220px;
}

.fondo {
  background-color: var(--gris1);
}
.ul .li {
  width: 200px;
  height: 50px;
}
.li:hover{
  background-color: var(--celeste1);
  border: none;
}
.nab{
  position: relative;
  top: 10px;
}
.nab .ul {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.nab .ul .li {
  display: inline-block;
}
.nab a {
  font-size: 14px;
  text-decoration: none;
  color: var(--violeta);
  display: block;
  padding: 0 10px;
}
.nab .ul .ul {
  width: 200px;
  height: 50px;
  top: 50px;
  position: absolute;
  display: none;
}
.nab .ul .li:hover > .ul {
  display: inline-block;
}
.nab .ul .li:hover > a {
  color: #fff;
}
.nab .ul .ul .li {
  display: list-item;
  float: none;
  position: relative;
}
.nab .ul .ul .ul .li {
  left: 200px;
  position: relative;
  top: -50px;
}
.subitem-flecha{
  position: relative;
  top: 8px;
  transform: rotate(315deg);
}
.subitem-texto{
  position: relative;
  top: 10px;
  line-height: 17px;
}
/* fin nav custom */
body {
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  body{
    font-family: 'Montserrat', sans-serif;
  }
  /* inicio ofcanvas */
  #titulo-offcanvas {
    font-weight: bolder;
    font-size: 14px;
    width: 160px;
  }
  #offcanvas-header {
    background-color: #4196b4;
    color: var(--blanco);
  }
  #offcanvas-body {
    background-color: #4196b4;
  }
  .item-offcanvas{
    color: var(--blanco);
    border-top: 1px solid var(--gris1);
    border-bottom: 1px solid var(--gris1);
  }
  /* fin ofcanvas */
  .fondo-nav {
    background-color: var(--celeste1);
  }

  .grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .item1 {
    display: flex;
    justify-content: start;
    width: 33%;
  }
  .item2 {
    display: flex;
    justify-content: center;

    width: 33%;
  }

  .item3 {
    display: flex;
    justify-content: end;

    width: 33%;
  }
  .navbar-toggler {
    border: none;
    filter: invert(100%);
  }

  .navbar-toggler:focus {
    border: none;
    box-shadow: none;
  }

  .logo-nav {
    width: 116px;
    height: 43px;
    content: url(../img/logochubutblanco.png);
  }

  .barra-arriba {
    font-size: 14px;
    font-weight: 900;
    line-height: 12.19px;
    align-items: end;
    word-wrap: break-word;
    text-align: right;

    background-color: var(--celeste1);
    color: #fff;
  }
  #barra-arriba-mobile{
    display: block;
  }
  #barra-arriba{
    display: none;
  }

  .btn-institucional {
    font-size: 14px;
    font-weight: 900;
    line-height: 38.88px;
    border-bottom: 3px solid var(--violeta);
  }

  .btn-politica {
    font-size: 14px;
    font-weight: 900;
    line-height: 38.88px;
    border-bottom: 3px solid var(--violeta);
  }

  .btn-contacto {
    font-size: 14px;
    font-weight: 900;
    line-height: 38.88px;
    border-bottom: 3px solid var(--violeta);
  }

  .buscador-nav {
    left: -10px;
    height: 36px;
    width: 100%;
  }
  .boton-lupa {
    left: -20px;
    height: 36px;
    width: 10%;
  }

  .buscador {
    margin-top: 20px;
  }

  #lupa {
    position: relative;
    top: -4px;
  }
}