:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
}
.politica-gestion {
  margin-top: 67px;
}
.item-texto {
  font-family: 'HelveticaNeue', sans-serif;
  display: inline;
  font-size: 17.3px;
  color: var(--violeta);
  line-height: 47px;
}
.columna-politica-gestion {
  transform: rotate(270deg);
}
.texto-politica-gestion {
  display: flex;
  justify-content: end;
  position: relative;
  left: -100%;
  width: 150%;
  top: 10%;
  color: #96a0b04a;
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid #96a0b04a;
}
.borde{
  width: 46%;
}

@media screen and (max-width: 700px) {
  .autoridades {
    margin-top: 10px;
  }
  .columna-politica-gestion {
    transform: rotate(0deg);
    margin: 20px;
  }
  .texto-politica-gestion {
    display: flex;
    justify-content: end;
    position: relative;
    width: 90%;
    top: 0;
    position: static;
    color: var(--celeste2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  .linea-politica-gestion-mobile {
    position: relative;
    top: 19px;
    width: 47%;
    height: 13px;
    background-color: var(--celeste2);
  }
  .cuerpo-politica-gestion {
    margin: 0px 40px;
  }
  .item-texto {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
}
