html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  height: 100vh;
  font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.background-img {
  position: absolute;
  z-index: -1;
  opacity: 0.09;
}
:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
  --celeste-boton: #006097;
}
.seccion-general {
  padding: 10px;
  min-height: 30vh;
}
.item-texto {
  display: inline;
  font-size: 17.3px;
  color: var(--violeta);
  line-height: 47px;
}
.texto-seccion {
  color: var(--violeta);
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.columna-izquierda {
  transform: rotate(270deg);
  margin-top: 120px;
}
/* Autoridades */
.texto-izquierdo-autridades {
  width: 500px;
}
.posicion-autoridades {
  left: -400px;
}
/* Politica y Gestion */
.posicion-politica-gestion {
  left: -450px;
}
.texto-izquierdo-politica-gestion {
  width: 500px;
}
/* Comision ejecutiva */
.texto-izquierdo-comision-ejecutiva {
  width: 400px;
}
.posicion-comision-ejecutiva {
  left: -500px;
}
/* Conformacion consejo */
.texto-izquierdo-conformacion-consejo {
  width: 600px;
}
.posicion-conformacion-consejo {
  left: -250px;
}
.subrayado-conformacion-consejo {
  display: flex;
  justify-content: end;
  position: relative;
  width: 700px;
  top: 40%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/* Coordinacion financiera */
.texto-izquierdo-coordinacion-financiera {
  width: 500px;
}
.posicion-coordinacion-financiera {
  left: -400px;
}
.subrayado-coordinacion-financiera {
  display: flex;
  justify-content: end;
  position: relative;
  width: 800px;
  top: 30%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/* gestion presupuestaria */
.texto-izquierdo-gestion-presupuestaria {
  width: 600px;
}
.posicion-gestion-presupuestaria {
  left: -400px;
}
.subrayado-gestion-presupuestaria {
  display: flex;
  justify-content: end;
  position: relative;
  width: 1000px;
  top: 40%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/* Ingresos Egresos */
.texto-izquierda-ingresos-egresos {
  width: 97%;
}
.posicion-ingresos-egresos {
  left: -700px;
}
.subrayado-ingresos-egresos {
  display: flex;
  justify-content: end;
  position: relative;
  width: 900px;
  top: 30%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/* Direccion general de rentas */
.texto-izquierdo-direccion-general-de-rentas {
  width: 400px;
}
.posicion-direccion-general-de-rentas {
  left: -500px;
}
.subrayado-direccion-general-de-rentas {
  display: flex;
  justify-content: end;
  position: relative;
  width: 900px;
  top: 30%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/* misiones y funciones */
.posicion-misiones-y-funciones{
  left: -700px;
}
.subrayado-misiones-y-funciones {
  display: flex;
  justify-content: end;
  position: relative;
  width: 1600px;
  top: 40%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
/*  */
.texto-izquierda {
  text-align: right;
  color: var(--celeste2);
}
.subrayado {
  display: flex;
  justify-content: end;
  position: relative;
  width: 700px;
  top: 30%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
.row-botones {
  /* class custom tesoreria general */
  margin-left: 0px;
  margin-top: 20px;
}
.columna-derecha {
  padding-right: 0px;
}
.subtitulo {
  color: var(--violeta);
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  margin-top: 10px;
}
.boton {
  font-size: 9pt;
  color: var(--blanco);
  font-weight: bolder;
  width: 214.2px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--celeste-boton);
}
.hidden {
  visibility: hidden;
}
footer {
  position: relative;
  top: 350px;
}
@media screen and (max-width: 900px) {
  .background-img {
    display: none;
  }
  .fondo-footer {
    display: none;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  .seccion-general {
    margin: 10px;
  }
  /* Autoridades */
  .linea-izquierda-mobile-autoridades {
    width: 100%;
  }
  .cuerpo-autoridades {
    margin: 0px 40px;
  }
  /* Coordinacion financiera */
  .linea-izquierda-mobile-coordinacion-financiera,
  .linea-izquierda-mobile-direccion-general-de-rentas,
  .linea-izquierda-mobile-conformacion-consejo,
  .linea-izquierda-mobile-politica-y-gestion,
  .linea-izquierda-mobile-comision-ejecutiva,
  .linea-izquierda-mobile-gestion-presupuestaria,
  .linea-izquierda-mobile-ingresos-egresos{
    width: 50%;
  }
  .subrayado-coordinacion-financiera,
  .subrayado-gestion-presupuestaria,
  .subrayado-conformacion-consejo,
  .subrayado-ingresos-egresos,
  .subrayado-direccion-general-de-rentas,
  .subrayado-misiones-y-funciones{
    position: static;
    width: auto;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  /*  */
  .columna-izquierda {
    transform: rotate(0deg);
  }
  .item-texto {
    margin-top: 0px;
    color: var(--violeta);
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  }
  .boton {
    font-size: 14px;
    color: var(--blanco);
    font-weight: 900;
    width: 96%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: var(--celeste1);
  }
  .subrayado {
    position: static;
    width: auto;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  .texto-izquierda {
    color: var(--celeste1);
    z-index: 2;
    background-color: #fff;
    padding-right: 10px;
  }
  .texto-izquierdo-autridades,
  .texto-izquierdo-politica-gestion,
  .texto-izquierdo-comision-ejecutiva,
  .texto-izquierdo-conformacion-consejo,
  .texto-izquierdo-coordinacion-financiera,
  .texto-izquierdo-gestion-presupuestaria,
  .texto-izquierda-ingresos-egresos {
    width: auto;
    padding-left: 10px;
  }
  .linea-izquierda-mobile {
    z-index: -1;
    position: relative;
    top: 18px;
    height: 13px;
    background-color: var(--celeste1);
  }
  .texto-seccion {
    color: var(--violeta);
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}
