:root {
  --celeste1: #4196b4;
  --celeste2: #00b2e2;
  --violeta: #222d5b;
  --gris1: #dadad9;
  --gris2: #878786;
  --amarillo: #ffd03e;
  --blanco: #ffffff;
  --celeste-boton: #006097;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  height: 100vh;
  font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.img-fondo-completa{
  position: absolute;
  transform: rotate(-30deg);
  z-index: -2;
  top: 180px;
  left: 250px;
  width: 300px;
  height: 400px;
}
.img-fondo-cuarto{
  position: absolute;
  transform: rotate(270deg);
  z-index: -1;
  top: 100vh;
  left: 0px;
  width: 300px;
  height: 400px;
}
.nombre-tesoreria{
  display: inline;
  color: var(--violeta);
  font-weight: lighter;
  font-size: 12px;
}
.subtitulo-img{
    color: var(--violeta);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: -5px;
}
.img-tesoreria{
  object-fit: cover;
}
.item-texto {
  display: inline;
  font-size: 17.3px;
  color: var(--violeta);
  line-height: 47px;
}
.seccion-general {
  min-height: 200vh;
}
.columna-izquierda {
  transform: rotate(270deg);
  z-index: -1;
}
.texto-izquierda-tesoreria-general {
  width: 97%;
}
.texto-izquierda {
  text-align: right;
  color: var(--celeste2);
}
.row-botones{ /* class custom tesoreria general */
  margin-left: 0px;
  margin-top: 20px;
}
.posicion-tesoreria-general {
  left: -900px;
}
.subrayado {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 1800px;
  top: 45%;
  font-weight: bolder;
  font-size: 62px;
  border-bottom: 3px solid var(--celeste2);
}
.columna-derecha {
  padding-right: 300px !important;
}
.boton {
  font-size: 9pt;
  color: var(--blanco);
  font-weight: bolder;
  width: 214.2px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: var(--celeste-boton);
}
.subtitulo {
  color: var(--violeta);
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  margin-top: 10px;
}
.fondo-footer{
  z-index: 2;
}
@media screen and (max-width: 900px) {
  .background-img{
    display: none;
  } 
  .fondo-footer {
    display: none;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
  .boton {
    font-size: 14px;
    color: var(--blanco);
    font-weight: 900;
    width: 95%;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: var(--celeste1);
  }
  .columna-izquierda {
    transform: rotate(0deg);
  }
  .linea-izquierda-mobile-tesoreria-general {
    width: 50%;
  }
  .texto-seccion {
    color: var(--violeta);
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  .subrayado {
    position: static;
    width: auto;
    font-weight: bolder;
    font-size: 17px;
    border-bottom: none;
  }
  .texto-izquierda {
    color: var(--celeste1);
    z-index: 2;
    background-color: #fff;
    padding-right: 10px;
  }
  .texto-izquierda-tesoreria-general{
    width: auto;
    padding-left: 10px;
  }
  .linea-izquierda-mobile {
    z-index: -1;
    position: relative;
    top: 18px;
    height: 13px;
    background-color: var(--celeste1);
  }
}
